html,
body {
	margin: 0;
	min-height: 100%;
	background-color: #1A1A1A;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

* {

	cursor: none;
}

body {
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

.block {
	margin: auto;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 35pt;
	align-self: center;
	border-radius: 0;
	text-align: center;
	padding: 0px;
	/* width: 460px; */
	/* margin: auto; */
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	/*  */
}

.icons {
	position: relative;
	width: 250px;
	height: 250px;
	/* background-color: aliceblue; */
	/* // round corners */
	border-radius: 50%;
	/* border-color: aliceblue; */
	/* border-width: 1px; */
	/* border-style: solid; */
}

.content {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 7px;
}

.outer {
	/* height: 100%; */
	/* width: 100%; */
}

.parent {
	position: relative;
}

.center {
	/* position: absolute;
	top: 50%;
	left: 50%; */
	/* transform: translate(-50%, -70%); */
}

.svgLogo {
	width: 52px;
	height: 52px;
	background-size: 52px;
	background-repeat: no-repeat;
	display: inline-block;
	/* margin: 21px; */
	margin-top: 0;
	/* margin-bottom: 13px; */
	/* cursor: pointer; */
	position: absolute;
	transition: scale 0.2s ease-in-out;
}
.svgLogo:hover{
	scale: 1.1;
}


.gitlab {
	background-image: url(img/GitLab_Logo.svg);
}

.vk {
	background-image: url(img/vk.svg);
}

.github {
	background-image: url(img/Octicons-mark-github.svg);
}

.telegram {
	background-image: url(img/Telegram_logo.svg);
}

.email {
	background-image: url(img/email.svg);
}

.tumblr {
	background-image: url(img/tumblr.svg);
}

.steam {
	background-image: url(img/Steam_icon_logo.svg);
}

.mal {
	background-image: url(img/myanimelist-svgrepo-com.svg);
}

.vrc {
	background-image: url(img/vrc.svg);
}

.x {
	background-image: url(img/x.svg);
}
.twitch {
	background-image: url(img/twitch-v2-svgrepo-com.svg);
}
.career {
	background-image: url(img/habr-career.svg);
}
.habr {
	background-image: url(img/habr.svg);
}

/* https://habr.com/ru/users/Max_JK/publications/articles/ */

.arrow {
	background-size: 75px;
	width: 75px;
	height: 75px;
	background-image: url(img/arrow.svg);
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%, 0);
	/* cursor: pointer; */
}

canvas {
	/* pointer-events: none; */
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}